@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 121%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 121%;
  }

  #portfolio {
    width: 130%;
  }
}
svg {
  display: inline-block;
  vertical-align: middle;
}

.donate{
  background: #00684d;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.4) 100%),
              -webkit-linear-gradient(left, lighten(#00684d, 15%) 0%, #00684d 50%, lighten(#00684d, 15%) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.4) 100%),
              linear-gradient(to right, lighten(#00684d, 15%) 0%, #00684d 50%, lighten(#00684d, 15%) 100%);
  background-position: 0 0;
  background-size: 200% 100%;
  border-radius: 4px;
  color: #fff;
  padding: 15px 65px 15px 15px;
  text-shadow: 1px 1px 5px #666;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.donate:after {
  border-left: 1px solid darken(#00684d, 5%);
  color: darken(#00684d, 10%);
  content: "\f004";
  font: 20px "FontAwesome";
  padding: 10px 0;
  padding-left: 15px;
  position: absolute;
  right: 16px;
  top: 7px;    
  -webkit-transition: all 300ms 200ms;
  transition: all 300ms 200ms;
}
